<div class="pubitem">
  <div class="pubitem-main">
    M. T. Askari, L. Lampe, and A. Ghazisaeidi.<br />
    <strong>
      <a href="" target="_blank">
        Neural Probabilistic Amplitude Shaping for Nonlinear Fiber Channels
      </a>
    </strong><br />
    <em>Optical Fiber Communication Conference (OFC)</em>, San Diego, CA, USA, March 2022.
  </div>

  <div class="pubitem-links">
    <a href="https://people.ece.ubc.ca/~lampe/Preprints/2026-NPAS-OFC.pdf" target="_blank">
      Preprint (PDF)
    </a>
    <button class="bibtex-btn" onclick="downloadBibtex('askari2026NPAS')">
      BibTeX
    </button>
  </div>
</div>
